@font-face {
  font-family: 'Ubuntu-Bold';
  src:  url('../assets/fonts/Ubuntu-Bold.ttf') format('ttf'),
  url('../assets/fonts/Ubuntu-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubintu-Medium';
  src:  url('../assets/fonts/Ubuntu-Medium.ttf') format('ttf'),
  url('../assets/fonts/Ubuntu-Medium.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src:  url('../assets/fonts/Ubuntu-Regular.ttf') format('ttf'),
  url('../assets/fonts/Ubuntu-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}